public/downloads/workflows/aura-ugc-email.json
{
  "name": "Aura UGC Ads-POV Vibe-Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        160
      ],
      "id": "22ce629f-cc0a-49e3-98bf-d8cc75f916ed",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY",
          "mode": "list",
          "cachedResultName": "Aura UGC Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Ready"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -832,
        160
      ],
      "id": "b9dc4393-7bca-4a3c-bf9a-e6baf026d4b3",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CYeQjgD4TDRRJXiy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Model }}",
                    "rightValue": "Nano + Veo 3.1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "24879280-7ab4-4dc7-8482-f427b001a20b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Nano + Veo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        192
      ],
      "id": "59f7a631-00f9-42df-8607-317c73a8c988",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Product: {{ $json.Product }}\nProduct Photo (image_0.png): {{ $json['Product Photo'] }}\nGeometry Photo (image_1.png): {{ $json['Reference Geometry Photo'] }}\nIdeal Customer Profile: {{ $json.ICP }}\nProduct Features: {{ $json['Product Features'] }}\nImage Setting: {{ $json['Video Setting'] }}",
        "options": {
          "systemMessage": "=You are an expert UGC advertising prompt engineer. Your task is to generate one image prompt for a realistic lifestyle product photo focused on the **\"Mood Transition\" (Emotional Hook).**\n\n# Core Objective\n\nCreate a prompt where the subject is leaning back in total relaxation, physically moving from a chaotic day to a calm evening mood. The prompt must force the subject's arms to be **spread far apart** across different quadrants of the frame to guarantee the AI renders exactly one left arm/hand and one right arm/hand, with clear empty space between them.\n\n# The \"Mood Transition\" Scenario\n\nThe subject (ICP) must look utterly relieved and relaxed. The scene visualizes the \"decompression\" moment after a busy day. This is achieved through the specific \"Leaning Back\" pose and lighting.\n\n# Mandatory Anatomical Guardrails\n\nTo prevent limb duplication, the prompt **must** use these structural constraints:\n\n1. **The Splayed Pose:** The subject is leaning far back on a sofa or chair. Their arms are physically distant from each other.\n    \n2. **Explicit Limb Assignment:**\n    \n    - Specify which hand (e.g., the right hand) is reaching down to _only_ tap the top of the lamp (do not grip the side).\n        \n    - Specify which hand (e.g., the left hand) is resting completely far away (e.g., lying along the top of the sofa back, or resting on their knee in the distance).\n        \n3. **Spatial Void:** Include a specific description of empty space between the two hands.\n    \n4. **The Non-Interaction Rule:** Only **one** hand interacts with the lamp. The other hand must be engaged in an entirely different, passive action.\n    \n5. **Confirmation Clause:** Every prompt must include: \"The subject has exactly two arms and two hands. Each arm extends clearly from the shoulder to a single hand with five fingers. There is empty negative space between the two hands.\"\n    \n\n# Aesthetic & Content Rules\n\n- **Zero Color Hallucination: NEVER name specific colors for the lamp's light (e.g., do not use words like magenta, teal, blue, neon, etc.).\n\n- **Forced Lighting Phrase: You must describe the light using only this exact phrasing: \"emitting the soft, warm, diffused gradient glow exactly as seen in image_0.png\".\n\n- **Scale Restriction: NEVER describe the lamp as \"tall\" or \"large\". Describe it as \"compact\" or \"desktop-sized\".\n\n- **Lighting:** Dim ambient light with the warm/cool gradient glow of image_0.png as the primary focus.\n    \n- **Product Detail:** Maintain the cylindrical shape of image_1.png. \"The solid white base is plain and unmarked.\"\n    \n- **Contextual Details (Background):** Hint at the previous chaos (e.g., a blurry computer screen in the background, now off, contrasted with the calm lamp light).\n    \n- **Photography Style:** High-quality, candid photo. Real-world texture (fabric, skin).\n    \n\n# Output Format\n\nReturn only the final natural paragraph. No explanations, no JSON, no quotes."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        16,
        144
      ],
      "id": "7a01a75b-ff48-418d-97f4-def30ded45e7",
      "name": "Veo Image Prompt"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        144
      ],
      "id": "bfe55b3b-1970-4390-a8be-3096b7a1a50d",
      "name": "Wait",
      "webhookId": "40f26e2c-1df1-4c84-b3bf-459be83eb0ba"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Product: {{ $('Get row(s) in sheet').item.json.Product }}\n\nProduct ICP: {{ $('Get row(s) in sheet').item.json.ICP }}\n\nProduct Features: {{ $('Get row(s) in sheet').item.json['Product Features'] }}\n\nVideo Setting: {{ $('Get row(s) in sheet').item.json['Video Setting'] }}\n\nImage Description: $if($('Veo Image Prompt').isExecuted, $('Veo Image Prompt').item.json.output, $('Get row(s) in sheet').item.json['Image Prompt'])\n",
        "options": {
          "systemMessage": "=You are an expert UGC video creator for Veo 3.1. Your task is to generate a prompt that animates the reference image with **pixel-perfect adherence** to the product's geometry and the subject's specific \"Mood Transition\" pose.\n\n# 1. Geometric & Product Anchor (CRITICAL)\n\nThe lamp must remain a **squat, wide cylinder** with a low height-to-width ratio, exactly as seen in the reference image.\n\n- **Dimensions:** Explicitly state: \"The device is a short, thick cylinder. Its height is roughly equal to its width. It must NOT morph into a tall pillar or a slender lamp.\"\n    \n- **Zero-Cord Rule:** \"The device is cordless. Do not render any wires, cables, or plugs protruding from the base or body.\"\n    \n- **Surface:** \"The body is a seamless, frosted material with a solid white, unbranded base. No buttons, logos, or text.\"\n    \n\n# 2. Pose & Composition Lock\n\nThe video MUST maintain the **\"Mood Transition\"** composition:\n\n- **Initial Frame:** \"The video must start exactly from the pose in the reference image: the subject is leaning far back on the sofa, arms spread wide in a relaxed V-shape.\"\n    \n- **Limb integrity:** \"The left arm remains resting along the sofa back. The right hand remains in contact with the top of the lamp. There is a large physical gap between the two hands at all times.\"\n    \n\n# 3. Animation & Interaction\n\n- **Action:** The subject maintains their peaceful, eyes-closed expression while slightly tilting their head or smiling. At 0:02, she/he says [Sentence] in a natural voice.\n    \n- **Lighting Transition:** At 0:03, the internal glow of the lamp shifts. It must maintain the **gradient effect** from the image (e.g., \"The teal-and-amber gradient glow intensifies and pulses softly, illuminating the subject's face with matching colored light\").\n    \n\n# 4. Technical Constraints\n\n- **Aspect Ratio:** 9:16 vertical.\n    \n- **Stability:** \"The lamp is a rock-solid, rigid object. It must not warp, melt, or change size during the animation. The base remains glued to the table surface.\"\n    \n- **Hands:** \"Exactly two hands. The right hand's fingers must stay mapped to the top of the lamp without merging into the plastic.\"\n    \n\n# 5. Logic for Image Fidelity\n\n- Use: \"Animate the specific person and object from the reference image.\"\n    \n- Use: \"Maintain the wide, stocky proportions of the cylindrical device.\"\n    \n\n# Output Format\n\nReturn ONLY the final prompt text. No explanations.",
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        32,
        736
      ],
      "id": "8f35a1fc-5d0d-4bc2-b842-28bdb9b26712",
      "name": "Veo Video Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/veo/generate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.output\n  .replace(/\\r?\\n|\\r/g, ' ')\n  .replace(/\"/g, '')\n  .replace(/[“”]/g, '') // removes curly double quotes\n}}\",\n  \"imageUrls\": [\"{{ $if($('Get Nano Image').isExecuted, JSON.parse($('Get Nano Image').item.json.data.resultJson).resultUrls[0], $('Get row(s) in sheet').item.json['Finished Image']) }}\"],\n  \"model\": \"veo3_fast\",\n  \"aspectRatio\": \"9:16\",\n  \"enableTranslation\": true,\n  \"generationType\": \"REFERENCE_2_VIDEO\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        736
      ],
      "id": "3aa895e7-5863-47a0-ab89-057205ac6138",
      "name": "Veo Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xbPKjXP3ik0HAPem",
          "name": "Kie.AI Header Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/veo/record-info",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        736
      ],
      "id": "b7c04005-af78-4cf1-a10c-3e39dccd4214",
      "name": "Get Veo Video",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xbPKjXP3ik0HAPem",
          "name": "Kie.AI Header Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY",
          "mode": "list",
          "cachedResultName": "UGC Ads Veo & Sora",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $('Get row(s) in sheet').item.json.No }}",
            "Finished Video": "={{ $('Get Veo Video').item.json.data.response.resultUrls[0] }}",
            "Video Prompt": "={{ $('Veo Video Prompt').item.json.output }}",
            "Resolution": "={{ $json.data.response.resolution }}"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Photo",
              "displayName": "Product Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reference Geometry Photo",
              "displayName": "Reference Geometry Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ICP",
              "displayName": "ICP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Features",
              "displayName": "Product Features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Setting",
              "displayName": "Video Setting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Prompt",
              "displayName": "Video Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Finished Image",
              "displayName": "Finished Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Video",
              "displayName": "Finished Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1008,
        704
      ],
      "id": "e0c605b6-2389-457d-a180-663a49d2e94d",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CYeQjgD4TDRRJXiy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-2\",\n  \"input\": {\n    \"prompt\": \"{{ $json.output }}\",\n    \"image_input\": [\n      \"{{ $('Get row(s) in sheet').item.json['Product Photo'] }}\",\n      \"{{ $('Get row(s) in sheet').item.json['Reference Geometry Photo'] }}\"\n    ],\n    \"aspect_ratio\": \"9:16\",\n    \"resolution\": \"2K\",\n    \"output_format\": \"png\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        144
      ],
      "id": "3d3bd108-58cb-4a76-940a-16a628dd7d83",
      "name": "Nano Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xbPKjXP3ik0HAPem",
          "name": "Kie.AI Header Auth"
        },
        "httpBearerAuth": {
          "id": "cXMQ0OSKYdfdOGXa",
          "name": "Kie.AI Bearer Auth"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        96
      ],
      "id": "3a289b59-9623-4024-96e7-63fb93fcd90b",
      "name": "Get Nano Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "xbPKjXP3ik0HAPem",
          "name": "Kie.AI Header Auth"
        }
      }
    },
    {
      "parameters": {
        "content": "## Capture Product Information",
        "height": 256,
        "width": 976,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1040,
        80
      ],
      "id": "813709ff-d204-4a8b-a6ab-3058935a31ee",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## NanoBanana 2",
        "height": 464,
        "width": 2256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "31f56b51-b42a-4607-a024-722432f4d486",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 🖼️ Image Approval Gate\n\nApprove → video is generated\nReject → row updated to *Image Rejected*",
        "height": 408,
        "width": 932,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        32
      ],
      "id": "9f48f44e-8a4c-4c4d-a7a2-3e9f75145d29",
      "name": "Sticky - Image Approval"
    },
    {
      "parameters": {
        "content": "## 🎬 Video Approval Gate\n\nSends email with video URL for review.\n\nApprove → publish to all social platforms\nReject → row updated to *Video Rejected*",
        "height": 428,
        "width": 924,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1136,
        528
      ],
      "id": "2df49946-164a-4f31-9abc-141f0e50a2be",
      "name": "Sticky - Video Approval"
    },
    {
      "parameters": {
        "sendTo": "jason@puniverse.net, queenie@puniverse.net",
        "subject": "Approval Request: UGC Image",
        "message": "=<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\" \"http://www.w3.org/TR/REC-html40/loose.dtd\">\n<html style=\"height: 100% !important; width: 100% !important; font-family: 'Helvetica Neue', Helvetica, system-ui, -apple-system, Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.5; font-size: 16px; margin: 0 auto; padding: 0;\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Image Approval — Aura UGC</title>\n</head>\n<body style=\"height: 100% !important; width: 100% !important; font-family: 'Helvetica Neue', Helvetica, system-ui, -apple-system, Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.5; font-size: 16px; margin: 0 auto; padding: 0; background-color: #fafafa;\">\n  \n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #fafafa; margin: auto;\">\n    <tr>\n      <td align=\"center\" style=\"padding: 40px 10px;\">\n        \n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border-collapse: collapse; margin: auto; overflow: hidden;\">\n          \n          <tr>\n            <td align=\"center\" style=\"padding: 30px 60px 10px 60px;\">\n              <a href=\"https://aetheo.co.uk\" target=\"_blank\" style=\"text-decoration: none;\">\n                <img src=\"https://cdn.shopify.com/shopify-email/5ze74e5a2qq6sxvjgng7i6im7r9o.png?width=960&height=960\" alt=\"Aetheo\" width=\"144\" style=\"width: 144px; max-width: 100%; border: 0; display: block; outline: none;\">\n              </a>\n            </td>\n          </tr>\n\n          <tr>\n            <td align=\"center\" style=\"padding: 20px 40px 30px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 2px; color: #555555; text-transform: uppercase;\">Aura UGC Pipeline</p>\n              <h1 style=\"font-size: 28px; line-height: 1.2; color: #000000; margin: 0 0 15px 0; font-weight: 400;\">Image Review Required</h1>\n              <p style=\"color: rgb(85, 85, 85); line-height: 1.5; margin: 0; font-size: 15px;\">Your AI-generated lifestyle image is ready. Approve to begin video production, or reject to skip this row.</p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 0;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #000000; color: #ffffff;\">\n                <tr>\n                  <td style=\"padding: 30px 40px;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td width=\"50%\" style=\"padding: 0 20px 20px 0;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Product</p>\n                          <p style=\"margin: 0; font-size: 14px; font-weight: 600; color: #ffffff;\">{{ $('Get row(s) in sheet').item.json.Product }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding: 0 0 20px 0;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Target Audience</p>\n                          <p style=\"margin: 0; font-size: 14px; font-weight: 600; color: #ffffff;\">{{ $('Get row(s) in sheet').item.json.ICP }}</p>\n                        </td>\n                      </tr>\n                      <tr>\n                        <td colspan=\"2\" style=\"padding: 20px 0 0 0; border-top: 1px solid #333333;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Video Setting</p>\n                          <p style=\"margin: 0; font-size: 14px; color: #dddddd; line-height: 1.4;\">{{ $('Get row(s) in sheet').item.json['Video Setting'] }}</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 30px 40px 10px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 1.5px; color: #000000; text-transform: uppercase;\">Prompt Used</p>\n              <div style=\"background-color: #fafafa; border: 1px solid #eeeeee; padding: 16px 20px; border-radius: 6px;\">\n                <p style=\"margin: 0; font-size: 13px; color: rgb(85, 85, 85); line-height: 1.6; white-space: pre-wrap;\">{{ $('Veo Image Prompt').item.json.output }}</p>\n              </div>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 20px 40px 10px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 1.5px; color: #000000; text-transform: uppercase;\">Generated Image</p>\n              <div style=\"border-radius: 6px; overflow: hidden; line-height: 0; border: 1px solid #eeeeee;\">\n                <img src=\"{{ JSON.parse($('Get Nano Image').item.json.data.resultJson).resultUrls[0] }}\" alt=\"AI Generated Lifestyle Image\" style=\"width: 100%; max-width: 520px; display: block;\">\n              </div>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 20px 40px 10px 40px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-radius: 6px; overflow: hidden; border: 1px solid #eeeeee;\">\n                <tr>\n                  <td width=\"50%\" style=\"padding: 16px 20px; background-color: #f4fdf8; border-right: 1px solid #eeeeee;\" valign=\"top\">\n                    <p style=\"margin: 0 0 6px 0; font-size: 12px; font-weight: 700; color: #16a34a; text-transform: uppercase; letter-spacing: 1px;\">✓ If Approved</p>\n                    <p style=\"margin: 0; font-size: 12px; color: rgb(85, 85, 85); line-height: 1.5;\">Video generation will begin immediately using this image as reference.</p>\n                  </td>\n                  <td width=\"50%\" style=\"padding: 16px 20px; background-color: #fdf4f4;\" valign=\"top\">\n                    <p style=\"margin: 0 0 6px 0; font-size: 12px; font-weight: 700; color: #dc2626; text-transform: uppercase; letter-spacing: 1px;\">✗ If Rejected</p>\n                    <p style=\"margin: 0; font-size: 12px; color: rgb(85, 85, 85); line-height: 1.5;\">This row will be marked as rejected and skipped. No video will be created.</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <tr>\n            <td align=\"center\" style=\"padding: 30px 40px 40px 40px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 0 auto;\">\n                <tr>\n                  <td style=\"padding-right: 15px;\">\n                    <a href=\"{{ $execution.resumeUrl }}?decision=approved\" style=\"display: inline-block; background-color: #16a34a; color: #ffffff; padding: 14px 28px; text-decoration: none; font-size: 13px; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; border-radius: 4px;\">\n                      ✓ &nbsp;Approve Image\n                    </a>\n                  </td>\n                  <td>\n                    <a href=\"{{ $execution.resumeUrl }}?decision=rejected\" style=\"display: inline-block; background-color: #ffffff; color: #dc2626; border: 1px solid #dc2626; padding: 13px 28px; text-decoration: none; font-size: 13px; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; border-radius: 4px;\">\n                      ✗ &nbsp;Reject Image\n                    </a>\n                  </td>\n                </tr>\n              </table>\n              <p style=\"margin: 16px 0 0 0; font-size: 12px; color: #888888;\">Each link is single-use and tied to this execution.</p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 0;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #000000; color: #ffffff;\">\n                <tr>\n                  <td align=\"left\" style=\"padding: 30px 40px;\">\n                    <p style=\"margin: 0 0 8px 0; font-size: 14px; color: #ffffff; font-weight: 600;\">Aura UGC Pipeline</p>\n                    <p style=\"margin: 0 0 4px 0; font-size: 12px; color: #aaaaaa;\">Automated via n8n</p>\n                    <p style=\"margin: 0; font-size: 12px; color: #aaaaaa;\">Row {{ $('Get row(s) in sheet').item.json.row_number }} &nbsp;·&nbsp; Model: {{ $('Get row(s) in sheet').item.json.Model }}</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "senderName": "PUNIVERSE"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        192
      ],
      "id": "7c6cb8e5-31f3-4937-b7f7-ff13699f873f",
      "name": "Send Image for Approval",
      "webhookId": "254d8530-85aa-4e32-991b-539679de239d",
      "credentials": {
        "gmailOAuth2": {
          "id": "nggxqoLlA95a1bNv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1440,
        192
      ],
      "id": "6cc999fc-97df-433f-a29d-7c7f475983f3",
      "name": "Wait for Image Approval",
      "webhookId": "ae88cb07-1dca-43dc-a803-ffaf0e2a275f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fc50c08a-daef-45bb-8368-a18fc2921a9e",
              "leftValue": "={{ $json.query.decision }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1664,
        192
      ],
      "id": "d4aa6fa9-d2e5-43bc-99bd-2c46cd96587a",
      "name": "Image Approved?"
    },
    {
      "parameters": {
        "sendTo": "jason@puniverse.net, queenie@puniverse.net",
        "subject": "Approval Request: UGC Video",
        "message": "=<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\" \"http://www.w3.org/TR/REC-html40/loose.dtd\">\n<html style=\"height: 100% !important; width: 100% !important; font-family: 'Helvetica Neue', Helvetica, system-ui, -apple-system, Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.5; font-size: 16px; margin: 0 auto; padding: 0;\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Video Approval — Aura UGC</title>\n</head>\n<body style=\"height: 100% !important; width: 100% !important; font-family: 'Helvetica Neue', Helvetica, system-ui, -apple-system, Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.5; font-size: 16px; margin: 0 auto; padding: 0; background-color: #fafafa;\">\n  \n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #fafafa; margin: auto;\">\n    <tr>\n      <td align=\"center\" style=\"padding: 40px 10px;\">\n        \n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border-collapse: collapse; margin: auto; overflow: hidden;\">\n          \n          <tr>\n            <td align=\"center\" style=\"padding: 30px 60px 10px 60px;\">\n              <a href=\"https://aetheo.co.uk\" target=\"_blank\" style=\"text-decoration: none;\">\n                <img src=\"https://cdn.shopify.com/shopify-email/5ze74e5a2qq6sxvjgng7i6im7r9o.png?width=960&height=960\" alt=\"Aetheo\" width=\"144\" style=\"width: 144px; max-width: 100%; border: 0; display: block; outline: none;\">\n              </a>\n            </td>\n          </tr>\n\n          <tr>\n            <td align=\"center\" style=\"padding: 20px 40px 30px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 2px; color: #555555; text-transform: uppercase;\">Aura UGC Pipeline</p>\n              <h1 style=\"font-size: 28px; line-height: 1.2; color: #000000; margin: 0 0 15px 0; font-weight: 400;\">Video Review Required</h1>\n              <p style=\"color: rgb(85, 85, 85); line-height: 1.5; margin: 0; font-size: 15px;\">Your AI-generated UGC video is ready. Approve to publish across all social platforms, or reject to discard.</p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 0;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #000000; color: #ffffff;\">\n                <tr>\n                  <td style=\"padding: 30px 40px;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td width=\"33%\" style=\"padding: 0 20px 20px 0;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Product</p>\n                          <p style=\"margin: 0; font-size: 14px; font-weight: 600; color: #ffffff;\">{{ $('Get row(s) in sheet').item.json.Product }}</p>\n                        </td>\n                        <td width=\"33%\" style=\"padding: 0 20px 20px 0;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Target Audience</p>\n                          <p style=\"margin: 0; font-size: 14px; font-weight: 600; color: #ffffff;\">{{ $('Get row(s) in sheet').item.json.ICP }}</p>\n                        </td>\n                        <td width=\"33%\" style=\"padding: 0 0 20px 0;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">AI Model</p>\n                          <p style=\"margin: 0; font-size: 14px; font-weight: 600; color: #f59e0b;\">{{ $('Get row(s) in sheet').item.json.Model }}</p>\n                        </td>\n                      </tr>\n                      <tr>\n                        <td colspan=\"3\" style=\"padding: 20px 0 0 0; border-top: 1px solid #333333;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Video Setting</p>\n                          <p style=\"margin: 0; font-size: 14px; color: #dddddd; line-height: 1.4;\">{{ $('Get row(s) in sheet').item.json['Video Setting'] }}</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 30px 40px 10px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 1.5px; color: #000000; text-transform: uppercase;\">Image Prompt Used</p>\n              <div style=\"background-color: #fafafa; border: 1px solid #eeeeee; padding: 16px 20px; border-radius: 6px;\">\n                <p style=\"margin: 0; font-size: 13px; color: rgb(85, 85, 85); line-height: 1.6; white-space: pre-wrap;\">{{ $('Veo Image Prompt').item.json.output }}</p>\n              </div>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 20px 40px 10px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 1.5px; color: #000000; text-transform: uppercase;\">Generated Image</p>\n              <div style=\"border-radius: 6px; overflow: hidden; line-height: 0; border: 1px solid #eeeeee;\">\n                <img src=\"{{ $if($('Get Nano Image').isExecuted, JSON.parse($('Get Nano Image').item.json.data.resultJson).resultUrls[0], $('Get row(s) in sheet').item.json['Finished Image']) }}\" alt=\"AI Generated Lifestyle Image\" style=\"width: 100%; max-width: 520px; display: block;\">\n              </div>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 20px 40px 10px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 1.5px; color: #000000; text-transform: uppercase;\">Video Prompt</p>\n              <div style=\"background-color: #fafafa; border: 1px solid #eeeeee; padding: 16px 20px; border-radius: 6px;\">\n                <p style=\"margin: 0; font-size: 13px; color: rgb(85, 85, 85); line-height: 1.6; white-space: pre-wrap;\">{{ $json['Video Prompt'] }}</p>\n              </div>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 20px 40px 10px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 1.5px; color: #000000; text-transform: uppercase;\">Generated Video</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #fafafa; border: 1px solid #eeeeee; border-radius: 6px; overflow: hidden;\">\n                <tr>\n                  <td style=\"padding: 40px 20px; text-align: center;\">\n                    <div style=\"width: 60px; height: 60px; background-color: #000000; border-radius: 50%; display: inline-block; text-align: center; line-height: 60px; font-size: 24px; margin-bottom: 20px; color: #ffffff;\">▶</div>\n                    <p style=\"margin: 0 0 20px 0; font-size: 13px; color: rgb(85, 85, 85);\">Video files cannot be previewed directly in email.<br>Click below to watch in your browser.</p>\n                    <a href=\"{{ $json['Finished Video'] }}\" style=\"display: inline-block; background-color: #000000; color: #ffffff; padding: 12px 32px; text-decoration: none; border-radius: 4px; font-weight: 600; font-size: 13px; letter-spacing: 1px; text-transform: uppercase;\">\n                      WATCH VIDEO\n                    </a>\n                  </td>\n                </tr>\n                <tr>\n                  <td style=\"padding: 12px 20px; border-top: 1px solid #eeeeee; text-align: center; background-color: #f5f5f5;\">\n                    <p style=\"margin: 0; font-size: 11px; color: #888888; word-break: break-all;\">{{ $json['Finished Video'] }}</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 20px 40px 10px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 1.5px; color: #000000; text-transform: uppercase;\">Will Publish To</p>\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                <tr>\n                  <td width=\"25%\" style=\"padding-right: 8px;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #fafafa; border: 1px solid #eeeeee; border-radius: 6px;\">\n                      <tr>\n                        <td style=\"padding: 14px 10px; text-align: center;\">\n                          <div style=\"font-size: 22px; margin-bottom: 6px;\">🎵</div>\n                          <p style=\"margin: 0; font-size: 12px; font-weight: 600; color: #000000;\">TikTok</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                  <td width=\"25%\" style=\"padding-right: 8px;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #fafafa; border: 1px solid #eeeeee; border-radius: 6px;\">\n                      <tr>\n                        <td style=\"padding: 14px 10px; text-align: center;\">\n                          <div style=\"font-size: 22px; margin-bottom: 6px;\">📷</div>\n                          <p style=\"margin: 0; font-size: 12px; font-weight: 600; color: #000000;\">Instagram</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                  <td width=\"25%\" style=\"padding-right: 8px;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #fafafa; border: 1px solid #eeeeee; border-radius: 6px;\">\n                      <tr>\n                        <td style=\"padding: 14px 10px; text-align: center;\">\n                          <div style=\"font-size: 22px; margin-bottom: 6px;\">▶️</div>\n                          <p style=\"margin: 0; font-size: 12px; font-weight: 600; color: #000000;\">YouTube</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                  <td width=\"25%\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background-color: #fafafa; border: 1px solid #eeeeee; border-radius: 6px;\">\n                      <tr>\n                        <td style=\"padding: 14px 10px; text-align: center;\">\n                          <div style=\"font-size: 22px; margin-bottom: 6px;\">📌</div>\n                          <p style=\"margin: 0; font-size: 12px; font-weight: 600; color: #000000;\">Pinterest</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 20px 40px 10px 40px;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-radius: 6px; overflow: hidden; border: 1px solid #eeeeee;\">\n                <tr>\n                  <td width=\"50%\" style=\"padding: 16px 20px; background-color: #f4fdf8; border-right: 1px solid #eeeeee;\" valign=\"top\">\n                    <p style=\"margin: 0 0 6px 0; font-size: 12px; font-weight: 700; color: #16a34a; text-transform: uppercase; letter-spacing: 1px;\">✓ If Approved</p>\n                    <p style=\"margin: 0; font-size: 12px; color: rgb(85, 85, 85); line-height: 1.5;\">Captions will be generated and the video will be published to TikTok, Instagram, YouTube, and Pinterest simultaneously.</p>\n                  </td>\n                  <td width=\"50%\" style=\"padding: 16px 20px; background-color: #fdf4f4;\" valign=\"top\">\n                    <p style=\"margin: 0 0 6px 0; font-size: 12px; font-weight: 700; color: #dc2626; text-transform: uppercase; letter-spacing: 1px;\">✗ If Rejected</p>\n                    <p style=\"margin: 0; font-size: 12px; color: rgb(85, 85, 85); line-height: 1.5;\">This row will be marked as rejected. No social posts will be created or published.</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <tr>\n            <td align=\"center\" style=\"padding: 30px 40px 40px 40px;\">\n              <table cellpadding=\"0\" cellspacing=\"0\" style=\"margin: 0 auto;\">\n                <tr>\n                  <td style=\"padding-right: 15px;\">\n                    <a href=\"{{ $execution.resumeUrl }}?decision=approved\" style=\"display: inline-block; background-color: #16a34a; color: #ffffff; padding: 14px 28px; text-decoration: none; font-size: 13px; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; border-radius: 4px;\">\n                      ✓ &nbsp;Approve &amp; Publish\n                    </a>\n                  </td>\n                  <td>\n                    <a href=\"{{ $execution.resumeUrl }}?decision=rejected\" style=\"display: inline-block; background-color: #ffffff; color: #dc2626; border: 1px solid #dc2626; padding: 13px 28px; text-decoration: none; font-size: 13px; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; border-radius: 4px;\">\n                      ✗ &nbsp;Reject Video\n                    </a>\n                  </td>\n                </tr>\n              </table>\n              <p style=\"margin: 16px 0 0 0; font-size: 12px; color: #888888;\">Each link is single-use and tied to this execution.</p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 0;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #000000; color: #ffffff;\">\n                <tr>\n                  <td align=\"left\" style=\"padding: 30px 40px;\">\n                    <p style=\"margin: 0 0 8px 0; font-size: 14px; color: #ffffff; font-weight: 600;\">Aura UGC Pipeline</p>\n                    <p style=\"margin: 0 0 4px 0; font-size: 12px; color: #aaaaaa;\">Automated via n8n</p>\n                    <p style=\"margin: 0; font-size: 12px; color: #aaaaaa;\">Row {{ $json['No'] }} &nbsp;·&nbsp; Model: {{ $('Get row(s) in sheet').item.json.Model }}</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "senderName": "PUNIVERSE"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1168,
        752
      ],
      "id": "c785a172-bfcb-4d46-9ef8-a901b91755a4",
      "name": "Send Video for Approval",
      "webhookId": "6eb9aa94-cf8a-4737-8618-82633ec0245c",
      "credentials": {
        "gmailOAuth2": {
          "id": "nggxqoLlA95a1bNv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1376,
        752
      ],
      "id": "4264ce06-20f4-4d61-9ddb-28671e5eb1ce",
      "name": "Wait for Video Approval",
      "webhookId": "29ddb383-e05e-43e5-a727-4b6a65c53377"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "506e84ac-271f-4e28-b615-2c90dca567ce",
              "leftValue": "={{ $json.query.decision }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1616,
        752
      ],
      "id": "235bc73c-f59b-4c82-ba83-284332aebff6",
      "name": "Video Approved?"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY",
          "mode": "list",
          "cachedResultName": "Aura UGC Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $('Get row(s) in sheet').item.json.No }}",
            "Video Approval": "Rejected"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Photo",
              "displayName": "Product Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reference Geometry Photo",
              "displayName": "Reference Geometry Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ICP",
              "displayName": "ICP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Features",
              "displayName": "Product Features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Setting",
              "displayName": "Video Setting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Prompt",
              "displayName": "Video Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Image",
              "displayName": "Finished Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Video",
              "displayName": "Finished Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Approval",
              "displayName": "Image Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Approval",
              "displayName": "Video Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        768
      ],
      "id": "c587d752-b0b3-4051-b1fd-7cbb2b68b349",
      "name": "Update - Video Rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CYeQjgD4TDRRJXiy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate social captions for this Aura Smart Table Lamp UGC ad.\n\nTarget audience: {{ $('Get row(s) in sheet').item.json.ICP }}\nVideo setting: {{ $('Get row(s) in sheet').item.json['Video Setting'] }}\nProduct features in video: {{ $('Get row(s) in sheet').item.json['Product Features'] }}\nFinished video URL: {{ $if($('Get Veo Video').isExecuted, $('Get Veo Video').item.json.data.response.resultUrls[0], $('Get row(s) in sheet').item.json['Finished Video']) }}",
        "options": {
          "systemMessage": "=You are a social media content expert for UGC lifestyle product ads. \nGenerate platform-native captions for the Ǣtheo Aura Smart Table Lamp video ad.\n\nReturn ONLY a valid JSON object — no markdown, no code blocks, no extra text.\n\nStructure:\n{\n  \"tiktok\": {\n    \"caption\": \"2-3 casual UGC-style sentences, conversational, first-person or direct address\",\n    \"hashtags\": [\"Aetheo\",\"SmartHome\",\"AuraLamp\",\"LampTok\",\"AmbientLighting\",\"HomeDecor\"]\n  },\n  \"instagram\": {\n    \"caption\": \"2-4 sentences with emojis, line breaks, conversational tone, and end with 'Link in bio' call-to-action\",\n    \"hashtags\": [\"Aetheo\",\"AuraLamp\",\"SmartLamp\",\"AmbientLighting\",\"HomeVibes\",\"SmartHome\",\"InteriorDesign\",\"LampGoals\",\"WellnessAtHome\"]\n  },\n  \"youtube\": {\n    \"title\": \"Compelling title under 80 chars — no ALL CAPS\",\n    \"description\": \"3-4 paragraphs: hook, product story, features mentioned, CTA. Include line for product link: https://aetheo.co.uk/products/aetheo-aura-smart-table-lamp\",\n    \"tags\": [\"aetheo\",\"aura lamp\",\"smart lamp\",\"ugc ad\",\"ambient lighting\",\"smart home\"]\n  },\n  \"pinterest\": {\n    \"title\": \"Descriptive pin title, keyword-rich, under 80 chars\",\n    \"description\": \"2-3 keyword-rich sentences for SEO, describe the mood and product benefit\"\n  },\n  \"facebook\": {\n    \"title\": \"Engaging video post title under 80 chars\",\n    \"caption\": \"Write 2–3 short sentences using UGC storytelling (hook → curiosity → lifestyle benefit). Make it feel like a real user sharing their experience. Place the product link on a new line at the end: https://aetheo.co.uk/products/aetheo-aura-smart-table-lamp\",\n    \"hashtags\": [\"Aetheo\",\"AuraLamp\",\"SmartHome\",\"AmbientLighting\"]\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        32,
        1120
      ],
      "id": "4fbec768-3428-4541-aa6c-4a7a7cace03a",
      "name": "Generate Social Captions"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output || '';\n// Strip markdown fences if present\nconst clean = raw.replace(/```json\\s*/gi, '').replace(/```\\s*/g, '').trim();\nlet parsed;\ntry { parsed = JSON.parse(clean); } catch(e) { parsed = { error: 'JSON parse failed', raw: raw }; }\nreturn [{ json: { output: JSON.stringify(parsed), ...parsed } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        1120
      ],
      "id": "72862112-6edd-43d7-9716-fe8fd715819b",
      "name": "Parse Social Captions"
    },
    {
      "parameters": {
        "url": "={{$('Get Updated Row').item.json['Finished Video'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "videoFile"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        1504
      ],
      "id": "210396f4-d4f4-4666-8108-ec68dabb7d4b",
      "name": "Download Video for YouTube"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Parse Social Captions').item.json.youtube?.title || '' }}",
        "regionCode": "GB",
        "categoryId": "26",
        "binaryProperty": "videoFile",
        "options": {
          "description": "={{ $('Parse Social Captions').item.json.youtube.description }}",
          "privacyStatus": "public",
          "tags": "={{ ($('Parse Social Captions').item.json.youtube?.tags || []).join(', ') }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1584,
        1504
      ],
      "id": "6b2fbe40-31cd-4ebf-96a4-1183875a30dc",
      "name": "Upload to YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "21M0CUaknCt2vPH8",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY",
          "mode": "list",
          "cachedResultName": "Aura UGC Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $('Get Updated Row').item.json.No }}",
            "YouTube": "={{ $('Set youtubeStatus').first().json.youtubeUrl }}",
            "Instagram": "={{ $('Set instagramStatus').first().json.instagramUrl }}",
            "Pinterest": "={{ $('Set pinterestStatus').first().json.pinterestUrl }}",
            "Status": "Finished",
            "Facebook": "={{ $('Set facebookStatus').first().json.facebookUrl }}",
            "TikTok": "https://publish.buffer.com/channels/69b5b6307be9f8b17157e2f2?tab=sent"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product URL",
              "displayName": "Product URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Photo",
              "displayName": "Product Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reference Geometry Photo",
              "displayName": "Reference Geometry Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ICP",
              "displayName": "ICP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Features",
              "displayName": "Product Features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Setting",
              "displayName": "Video Setting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Prompt",
              "displayName": "Video Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Image",
              "displayName": "Finished Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Video",
              "displayName": "Finished Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Approval",
              "displayName": "Image Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Approval",
              "displayName": "Video Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "TikTok",
              "displayName": "TikTok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "YouTube",
              "displayName": "YouTube",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pinterest",
              "displayName": "Pinterest",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Facebook",
              "displayName": "Facebook",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2768,
        1472
      ],
      "id": "3d734a25-e8d6-4b75-9c06-17650bafc4e4",
      "name": "Update - Published",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CYeQjgD4TDRRJXiy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY",
          "mode": "list",
          "cachedResultName": "Aura UGC Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $('Get row(s) in sheet').item.json.No }}",
            "Image Approval": "Approved",
            "Image Prompt": "={{ $('Veo Image Prompt').item.json.output }}",
            "Finished Image": "={{ JSON.parse($('Get Nano Image').item.json.data.resultJson).resultUrls[0] }}"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Photo",
              "displayName": "Product Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reference Geometry Photo",
              "displayName": "Reference Geometry Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ICP",
              "displayName": "ICP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Features",
              "displayName": "Product Features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Setting",
              "displayName": "Video Setting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Prompt",
              "displayName": "Video Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Image",
              "displayName": "Finished Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Finished Video",
              "displayName": "Finished Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Approval",
              "displayName": "Image Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Approval",
              "displayName": "Video Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        96
      ],
      "id": "711fe837-8d3c-4f04-87a5-566927be96ca",
      "name": "Update - Image Approved",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CYeQjgD4TDRRJXiy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY",
          "mode": "list",
          "cachedResultName": "Aura UGC Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $('Get row(s) in sheet').item.json.No }}",
            "Video Approval": "Approved"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Photo",
              "displayName": "Product Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reference Geometry Photo",
              "displayName": "Reference Geometry Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ICP",
              "displayName": "ICP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Features",
              "displayName": "Product Features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Setting",
              "displayName": "Video Setting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Prompt",
              "displayName": "Video Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Image",
              "displayName": "Finished Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Video",
              "displayName": "Finished Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Approval",
              "displayName": "Image Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Approval",
              "displayName": "Video Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        512
      ],
      "id": "9e43662e-6839-4e94-b7c6-4e4b61e1f4a8",
      "name": "Update - Video Approved",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CYeQjgD4TDRRJXiy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2576,
        1440
      ],
      "id": "4de1e7a5-1a69-496a-9501-ee8201dc8319",
      "name": "Merge - Social Done",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 15
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        480,
        736
      ],
      "id": "28def73e-e93b-47dc-b6ee-be56a1f68d5f",
      "name": "Wait1",
      "webhookId": "95154ee5-b440-479d-9bd7-d0ebb3517af5"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY",
          "mode": "list",
          "cachedResultName": "Aura UGC Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "No": "={{ $('Get row(s) in sheet').item.json.No }}",
            "Image Approval": "Rejected"
          },
          "matchingColumns": [
            "No"
          ],
          "schema": [
            {
              "id": "No",
              "displayName": "No",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Product",
              "displayName": "Product",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Photo",
              "displayName": "Product Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Reference Geometry Photo",
              "displayName": "Reference Geometry Photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ICP",
              "displayName": "ICP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Product Features",
              "displayName": "Product Features",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Setting",
              "displayName": "Video Setting",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Model",
              "displayName": "Model",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Prompt",
              "displayName": "Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Video Prompt",
              "displayName": "Video Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Image",
              "displayName": "Finished Image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Finished Video",
              "displayName": "Finished Video",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Image Approval",
              "displayName": "Image Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Video Approval",
              "displayName": "Video Approval",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1888,
        288
      ],
      "id": "daa4d2fd-371e-4633-ae67-d7b022a8a97b",
      "name": "Update - Image Rejected",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CYeQjgD4TDRRJXiy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Google Veo 3.1",
        "height": 480,
        "width": 2256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        496
      ],
      "id": "802b3541-7cfd-465b-89d9-0dfc41767f99",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Publishing",
        "height": 1024,
        "width": 3124,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        1056
      ],
      "id": "3e5cbca0-5776-46d2-ae66-b5eed7e7bca0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841470776614465",
        "edge": "media",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "media_type",
                "value": "REELS"
              },
              {
                "name": "video_url",
                "value": "={{$('Get Updated Row').item.json['Finished Video'] }}"
              },
              {
                "name": "caption",
                "value": "={{ \n(JSON.parse($('Parse Social Captions').item.json.output || '{}').instagram?.caption || '') \n+ '\\n\\n' + \n(JSON.parse($('Parse Social Captions').item.json.output || '{}').instagram?.hashtags || []).map(h => '#' + h).join(' ')\n}}"
              },
              {
                "name": "share_to_feed",
                "value": "true"
              }
            ]
          }
        }
      },
      "id": "b9401058-d9f4-470f-8a98-fd0ccd8d0fba",
      "name": "Create Instagram Media Container",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1152,
        1088
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "06H26EtxneVElp2i",
          "name": "Facebook Graph account"
        }
      },
      "notes": "Configure: Add Facebook credentials and set your Instagram Business Account ID in the 'node' field"
    },
    {
      "parameters": {
        "amount": 90
      },
      "id": "c66e570f-45bf-43f1-9e63-bac57826a4c9",
      "name": "Wait for Container",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1328,
        1088
      ],
      "webhookId": "10557316-9913-4e98-bde6-f5deb62c7a9b"
    },
    {
      "parameters": {
        "httpRequestMethod": "POST",
        "graphApiVersion": "v23.0",
        "node": "17841470776614465",
        "edge": "media_publish",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "creation_id",
                "value": "={{ $('Create Instagram Media Container').first().json.id }}"
              }
            ]
          }
        }
      },
      "id": "b1966722-a6db-4b12-92b2-7ea8fc6470e2",
      "name": "Publish Instagram Post",
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1504,
        1088
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "06H26EtxneVElp2i",
          "name": "Facebook Graph account"
        }
      },
      "notes": "Configure: Set your Instagram Business Account ID in the 'node' field"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pinterest.com/v5/pins",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"board_id\": \"967570369883073459\",\n  \"media_source\": {\n    \"source_type\": \"video_id\",\n    \"media_id\": \"{{ $('Build Pinterest Upload Body').item.json.media_id }}\",\n    \"cover_image_url\": \"{{ $('Get Updated Row').item.json['Finished Image'] }}\"\n  },\n  \"title\": \"{{ $('Parse Social Captions').item.json.pinterest?.title || '' }}\",\n  \"description\": \"{{ $('Parse Social Captions').item.json.pinterest?.description || '' }}\",\n  \"link\": \"https://aetheo.co.uk/products/aetheo-aura-smart-table-lamp\"\n}",
        "options": {}
      },
      "id": "e54965ff-cf73-4ac4-b98b-8d1e6da04449",
      "name": "Post to Pinterest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2096,
        1280
      ],
      "credentials": {
        "oAuth2Api": {
          "id": "WiiESbO3K01hW2rA",
          "name": "Pinterest"
        }
      },
      "onError": "continueRegularOutput",
      "notes": "Configure: Add Pinterest API credentials (HTTP Header Auth with 'Authorization: Bearer YOUR_TOKEN') and set your Board ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1522bf36-b053-4efd-aa95-26c4d187ba1a",
              "name": "instagramUrl",
              "value": "={{ $('Get Instagram Permalink').item.json.permalink }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        1088
      ],
      "id": "9d15c8d6-1076-4017-95d3-05906de8a8ad",
      "name": "Set instagramStatus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a79fc392-187f-4a7a-a15a-6dc4f11fb138",
              "name": "pinterestUrl",
              "value": "={{ 'https://pinterest.com/pin/' + $('Post to Pinterest').item.json.id + '/' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        1280
      ],
      "id": "ab6121d0-078e-4993-b8fc-45674f3bfc70",
      "name": "Set pinterestStatus"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c2f6888-b720-49b9-a173-86f482acfde0",
              "name": "youtubeUrl",
              "value": "={{ 'https://youtube.com/shorts/' + $('Upload to YouTube').item.json.uploadId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        1504
      ],
      "id": "abbcd9f2-03c4-4706-9a84-3489be95fb6c",
      "name": "Set youtubeStatus"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.pinterest.com/v5/media",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"media_type\": \"video\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1152,
        1280
      ],
      "id": "628f0747-e975-4518-90c6-83dc6ab4e566",
      "name": "Register Pinterest Upload",
      "credentials": {
        "oAuth2Api": {
          "id": "WiiESbO3K01hW2rA",
          "name": "Pinterest"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Get Updated Row').item.json['Finished Video'] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "pinterestVideo"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        1280
      ],
      "id": "1efdcf34-f6dd-4d30-94ab-cc5acdb49be3",
      "name": "Download Video for Pinterest"
    },
    {
      "parameters": {
        "amount": 90
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1888,
        1280
      ],
      "id": "04be71e5-3b99-415f-bc00-e957ff131ca8",
      "name": "Wait for Pinterest Processing",
      "webhookId": "f10c94ad-74f7-4b02-8c33-2263adfcce99"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY",
          "mode": "list",
          "cachedResultName": "Aura UGC Ads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "No",
              "lookupValue": "={{ $('Get row(s) in sheet').item.json.No }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        1120
      ],
      "id": "7c33fe22-1074-4d44-bc6d-4482a798e00c",
      "name": "Get Updated Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CYeQjgD4TDRRJXiy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the binary data from the previous download node\nconst binaryData = $('Download Video for Pinterest').item.binary.pinterestVideo;\nconst registerData = $('Register Pinterest Upload').item.json;\n\nreturn [{\n  json: {\n    media_id: registerData.media_id,\n    upload_url: registerData.upload_url,\n    params: registerData.upload_parameters,\n  },\n  binary: {\n    // This re-attaches the video so the S3 node can see it\n    pinterestVideo: binaryData, \n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1504,
        1280
      ],
      "id": "73076b1e-fc08-462b-b2db-9d9c41826a91",
      "name": "Build Pinterest Upload Body"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.upload_url }}",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.params.key }}"
            },
            {
              "name": "policy",
              "value": "={{ $json.params.policy }}"
            },
            {
              "name": "Content-Type",
              "value": "={{ $json.params['Content-Type'] }}"
            },
            {
              "name": "x-amz-algorithm",
              "value": "={{ $json.params['x-amz-algorithm'] }}"
            },
            {
              "name": "x-amz-credential",
              "value": "={{ $json.params['x-amz-credential'] }}"
            },
            {
              "name": "x-amz-date",
              "value": "={{ $json.params['x-amz-date'] }}"
            },
            {
              "name": "x-amz-signature",
              "value": "={{ $json.params['x-amz-signature'] }}"
            },
            {
              "name": "x-amz-security-token",
              "value": "={{ $json.params['x-amz-security-token'] }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "pinterestVideo"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1696,
        1280
      ],
      "id": "c1f0b92f-583c-4101-a56f-cbd07f242934",
      "name": "Upload to Pinterest S3"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $('Publish Instagram Post').item.json.id }}",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "permalink"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1712,
        1088
      ],
      "id": "8a497f11-0227-404a-af14-9e444317230c",
      "name": "Get Instagram Permalink",
      "credentials": {
        "facebookGraphApi": {
          "id": "06H26EtxneVElp2i",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f4d4d8e-e907-4407-9843-cc9f6caee9be",
              "leftValue": "={{ $json.Pinterest }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        1296
      ],
      "id": "8fe4a3d1-089f-4cdd-a195-7c92204b6a09",
      "name": "Pinterest Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2f550928-eb9b-4a5b-bbfe-f4aa58e34d0e",
              "leftValue": "={{ $json.Instagram }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        1120
      ],
      "id": "90793b14-c24d-4cbd-8714-bd3f69868d58",
      "name": "Instagram Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2b63dc1-1d3d-4df6-82b8-6010f575ca5a",
              "leftValue": "={{ $json['Video Approval'] }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        592
      ],
      "id": "d7bcb69d-6b39-4ac2-998e-4179180e64c8",
      "name": "Video Approval == \"Approved\""
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a7e4a8b-491f-4bc2-b1ad-4b35588b7944",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -656,
        160
      ],
      "id": "35df1f37-69c8-4b65-8e11-7a8946e8dd9e",
      "name": "Status == \"Finished\""
    },
    {
      "parameters": {
        "sendTo": "jason@puniverse.net, queenie@puniverse.net",
        "subject": "=Published! Row {{ $('Get Updated Row').item.json['No'] }} — {{ $('Get Updated Row').item.json.Product }}",
        "message": "=<!DOCTYPE html PUBLIC \"-//W3C//DTD HTML 4.0 Transitional//EN\" \"http://www.w3.org/TR/REC-html40/loose.dtd\">\n<html style=\"height: 100% !important; width: 100% !important; font-family: 'Helvetica Neue', Helvetica, system-ui, -apple-system, Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.5; font-size: 16px; margin: 0 auto; padding: 0;\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Video Published — Aura UGC</title>\n</head>\n<body style=\"height: 100% !important; width: 100% !important; font-family: 'Helvetica Neue', Helvetica, system-ui, -apple-system, Arial, sans-serif; font-weight: 400; font-style: normal; line-height: 1.5; font-size: 16px; margin: 0 auto; padding: 0; background-color: #fafafa;\">\n  \n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #fafafa; margin: auto;\">\n    <tr>\n      <td align=\"center\" style=\"padding: 40px 10px;\">\n        \n        <table width=\"600\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #ffffff; border-collapse: collapse; margin: auto; overflow: hidden;\">\n          \n          <tr>\n            <td align=\"center\" style=\"padding: 30px 60px 10px 60px;\">\n              <a href=\"https://aetheo.co.uk\" target=\"_blank\" style=\"text-decoration: none;\">\n                <img src=\"https://cdn.shopify.com/shopify-email/5ze74e5a2qq6sxvjgng7i6im7r9o.png?width=960&height=960\" alt=\"Aetheo\" width=\"144\" style=\"width: 144px; max-width: 100%; border: 0; display: block; outline: none;\">\n              </a>\n            </td>\n          </tr>\n\n          <tr>\n            <td align=\"center\" style=\"padding: 20px 40px 30px 40px;\">\n              <p style=\"margin: 0 0 8px 0; font-size: 11px; font-weight: 600; letter-spacing: 2px; color: #555555; text-transform: uppercase;\">Aura UGC Pipeline</p>\n              <h1 style=\"font-size: 28px; line-height: 1.2; color: #000000; margin: 0 0 15px 0; font-weight: 400;\">Video Published Successfully</h1>\n              <p style=\"color: rgb(85, 85, 85); line-height: 1.5; margin: 0; font-size: 15px;\">Your UGC ad is live across all social platforms. The pipeline has completed successfully and links are ready to share.</p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 0;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #000000; color: #ffffff;\">\n                <tr>\n                  <td style=\"padding: 30px 40px;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td width=\"50%\" style=\"padding: 0 20px 20px 0;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Product</p>\n                          <p style=\"margin: 0; font-size: 15px; font-weight: 600; color: #ffffff;\">{{ $('Get Updated Row').item.json.Product }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding: 0 0 20px 0;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Target Audience</p>\n                          <p style=\"margin: 0; font-size: 15px; font-weight: 600; color: #ffffff;\">{{ $('Get Updated Row').item.json.ICP }}</p>\n                        </td>\n                      </tr>\n                      <tr>\n                        <td width=\"50%\" style=\"padding: 20px 20px 0 0; border-top: 1px solid #333333;\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Video Setting</p>\n                          <p style=\"margin: 0; font-size: 14px; color: #dddddd; line-height: 1.4;\">{{ $('Get Updated Row').item.json['Video Setting'] }}</p>\n                        </td>\n                        <td width=\"50%\" style=\"padding: 20px 0 0 0; border-top: 1px solid #333333;\" valign=\"top\">\n                          <p style=\"margin: 0 0 4px 0; font-size: 11px; color: #888888; text-transform: uppercase; letter-spacing: 1px;\">Published</p>\n                          <p style=\"margin: 0; font-size: 14px; color: #dddddd;\">{{ $now.toFormat('d MMM yyyy, HH:mm') }}</p>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n          <tr>\n            <td align=\"center\" style=\"padding: 40px 40px 20px 40px;\">\n              <p style=\"margin: 0; font-size: 11px; font-weight: 600; letter-spacing: 2px; color: #000000; text-transform: uppercase;\">Published Links</p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 0 40px 20px 40px;\">\n              \n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px; border: 1px solid #eeeeee;\">\n                <tr>\n                  <td style=\"padding: 16px 20px; background-color: #fafafa;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td>\n                          <p style=\"margin: 0 0 4px 0; font-size: 12px; font-weight: 700; letter-spacing: 1px; color: #000000; text-transform: uppercase;\">📸 &nbsp;Instagram Reels</p>\n                          <p style=\"margin: 0; font-size: 12px; color: rgb(85, 85, 85); word-break: break-all;\">{{ $('Set instagramStatus').first().json.instagramUrl }}</p>\n                        </td>\n                        <td width=\"120\" align=\"right\" valign=\"middle\" style=\"padding-left: 16px;\">\n                          <a href=\"{{ $('Set instagramStatus').first().json.instagramUrl }}\" style=\"display: inline-block; background-color: #000000; color: #ffffff; padding: 10px 20px; text-decoration: none; font-size: 12px; letter-spacing: 1px; text-transform: uppercase;\">View</a>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px; border: 1px solid #eeeeee;\">\n                <tr>\n                  <td style=\"padding: 16px 20px; background-color: #fafafa;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td>\n                          <p style=\"margin: 0 0 4px 0; font-size: 12px; font-weight: 700; letter-spacing: 1px; color: #000000; text-transform: uppercase;\">📸 &nbsp;Facebook Reels</p>\n                          <p style=\"margin: 0; font-size: 12px; color: rgb(85, 85, 85); word-break: break-all;\">{{ $('Set facebookStatus').first().json.facebookUrl }}</p>\n                        </td>\n                        <td width=\"120\" align=\"right\" valign=\"middle\" style=\"padding-left: 16px;\">\n                          <a href=\"{{ $('Set facebookStatus').first().json.facebookUrl }}\" style=\"display: inline-block; background-color: #000000; color: #ffffff; padding: 10px 20px; text-decoration: none; font-size: 12px; letter-spacing: 1px; text-transform: uppercase;\">View</a>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px; border: 1px solid #eeeeee;\">\n                <tr>\n                  <td style=\"padding: 16px 20px; background-color: #fafafa;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td>\n                          <p style=\"margin: 0 0 4px 0; font-size: 12px; font-weight: 700; letter-spacing: 1px; color: #000000; text-transform: uppercase;\">▶ &nbsp;YouTube Shorts</p>\n                          <p style=\"margin: 0; font-size: 12px; color: rgb(85, 85, 85); word-break: break-all;\">{{ $('Set youtubeStatus').first().json.youtubeUrl }}</p>\n                        </td>\n                        <td width=\"120\" align=\"right\" valign=\"middle\" style=\"padding-left: 16px;\">\n                          <a href=\"{{ $('Set youtubeStatus').first().json.youtubeUrl }}\" style=\"display: inline-block; background-color: #000000; color: #ffffff; padding: 10px 20px; text-decoration: none; font-size: 12px; letter-spacing: 1px; text-transform: uppercase;\">View</a>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px; border: 1px solid #eeeeee;\">\n                <tr>\n                  <td style=\"padding: 16px 20px; background-color: #fafafa;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td>\n                          <p style=\"margin: 0 0 4px 0; font-size: 12px; font-weight: 700; letter-spacing: 1px; color: #000000; text-transform: uppercase;\">📌 &nbsp;Pinterest</p>\n                          <p style=\"margin: 0; font-size: 12px; color: rgb(85, 85, 85); word-break: break-all;\">{{ $('Set pinterestStatus').first().json.pinterestUrl }}</p>\n                        </td>\n                        <td width=\"120\" align=\"right\" valign=\"middle\" style=\"padding-left: 16px;\">\n                          <a href=\"{{ $('Set pinterestStatus').first().json.pinterestUrl }}\" style=\"display: inline-block; background-color: #000000; color: #ffffff; padding: 10px 20px; text-decoration: none; font-size: 12px; letter-spacing: 1px; text-transform: uppercase;\">View</a>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin-bottom: 12px; border: 1px solid #eeeeee;\">\n                <tr>\n                  <td style=\"padding: 16px 20px; background-color: #fafafa;\">\n                    <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">\n                      <tr>\n                        <td>\n                          <p style=\"margin: 0 0 8px 0; font-size: 12px; font-weight: 700; letter-spacing: 1px; color: #000000; text-transform: uppercase;\">🎵 &nbsp;TikTok</p>\n                          <p style=\"margin: 0; font-size: 12px; color: rgb(85, 85, 85); line-height: 1.6;\">\n                            TikTok uses the Zapier→Buffer flow.<br>\n                            — Check <a href=\"https://zapier.com/app/history\" style=\"color: #000000; text-decoration: underline;\">Zapier History</a><br>\n                            — Check <a href=\"https://publish.buffer.com/channels/69b5b6307be9f8b17157e2f2/schedule?tab=sent\" style=\"color: #000000; text-decoration: underline;\">Buffer Status</a>\n                          </p>\n                        </td>\n                        <td width=\"140\" align=\"right\" valign=\"middle\" style=\"padding-left: 16px;\">\n                          <a href=\"https://www.tiktok.com/@aetheostore\" style=\"display: inline-block; background-color: #000000; color: #ffffff; padding: 10px 20px; text-decoration: none; font-size: 12px; letter-spacing: 1px; text-transform: uppercase;\">View</a>\n                        </td>\n                      </tr>\n                    </table>\n                  </td>\n                </tr>\n              </table>\n\n            </td>\n          </tr>\n\n          <tr>\n            <td align=\"center\" style=\"padding: 20px 40px 40px 40px;\">\n              <a href=\"https://docs.google.com/spreadsheets/d/1eeX0QTEWec_M-3tbAbGddBZ4swCnfv4gZKPj3UswXwY\" style=\"display: inline-block; background-color: #000000; color: #ffffff; padding: 16px 40px; text-decoration: none; font-size: 14px; letter-spacing: 1px; text-transform: uppercase;\">\n                View in Google Sheets\n              </a>\n              <p style=\"margin: 14px 0 0 0; font-size: 12px; color: rgb(85, 85, 85);\">All published URLs have been successfully logged to the sheet.</p>\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"padding: 0;\">\n              <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"background-color: #000000; color: #ffffff;\">\n                <tr>\n                  <td align=\"left\" style=\"padding: 30px 40px;\">\n                    <p style=\"margin: 0 0 8px 0; font-size: 14px; color: #ffffff; font-weight: 600;\">Aura UGC Pipeline</p>\n                    <p style=\"margin: 0 0 4px 0; font-size: 12px; color: #aaaaaa;\">Automated via n8n</p>\n                    <p style=\"margin: 0; font-size: 12px; color: #aaaaaa;\">Row {{ $('Get Updated Row').item.json['No'] }} &nbsp;·&nbsp; Model: {{ $('Get Updated Row').item.json.Model }}</p>\n                  </td>\n                </tr>\n              </table>\n            </td>\n          </tr>\n\n        </table>\n      </td>\n    </tr>\n  </table>\n</body>\n</html>",
        "options": {
          "senderName": "PUNIVERSE"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2944,
        1472
      ],
      "id": "63351812-4a1b-4391-8d22-adae887c1ec0",
      "name": "Send publish notification",
      "webhookId": "183d6c3b-5209-4895-ae7a-6c86ce6bddd9",
      "credentials": {
        "gmailOAuth2": {
          "id": "nggxqoLlA95a1bNv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f4d4d8e-e907-4407-9843-cc9f6caee9be",
              "leftValue": "={{ $json.YouTube }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        1520
      ],
      "id": "029b8a87-31db-40ff-a1f8-6250e4191cd4",
      "name": "YouTube Check"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "={{ $json.post_id || $json.id }}",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "permalink_url"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        1584,
        1712
      ],
      "id": "88a95dfe-3e9e-443f-8a08-5c0c138a8c5e",
      "name": "Get Facebook permalink_url",
      "credentials": {
        "facebookGraphApi": {
          "id": "06H26EtxneVElp2i",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1522bf36-b053-4efd-aa95-26c4d187ba1a",
              "name": "facebookUrl",
              "value": "={{ 'https://facebook.com' + $('Get Facebook permalink_url').item.json.permalink_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2288,
        1712
      ],
      "id": "bd24838a-8a0f-4f06-b928-f881fffcb354",
      "name": "Set facebookStatus"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9f4d4d8e-e907-4407-9843-cc9f6caee9be",
              "leftValue": "={{ $json.Facebook }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        1728
      ],
      "id": "d764178b-8927-40a1-8b60-3d26df4ac86a",
      "name": "Facebook Check"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f2b63dc1-1d3d-4df6-82b8-6010f575ca5a",
              "leftValue": "={{ $json['Image Approval'] }}",
              "rightValue": "Approved",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -560,
        368
      ],
      "id": "b92ec275-da68-4eb3-8e7e-e347e6789df0",
      "name": "Image Approval == \"Approved\""
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/523204810856713/videos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_url",
              "value": "={{ $json['Finished Video'] }}"
            },
            {
              "name": "title",
              "value": "={{ JSON.parse($('Parse Social Captions').item.json.output || '{}').facebook?.title || '' }}"
            },
            {
              "name": "description",
              "value": "={{ \n(JSON.parse($('Parse Social Captions').item.json.output || '{}').facebook?.caption || '') \n+ '\\n\\n' + \n(JSON.parse($('Parse Social Captions').item.json.output || '{}').facebook?.hashtags || []).map(h => '#' + h).join(' ')\n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c62c88da-28b6-43fa-b8ab-f53dd5517fbe",
      "name": "Publish Facebook Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        1712
      ],
      "credentials": {
        "facebookGraphApi": {
          "id": "06H26EtxneVElp2i",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-3-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -160,
        480
      ],
      "id": "49eaa4a0-b856-4da3-9d89-2756dd6cdcff",
      "name": "Gemini-3.1 Flash",
      "credentials": {
        "openRouterApi": {
          "id": "smYgbzHswAr8qVIW",
          "name": "OpenRouter account n8n-2026"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        1344
      ],
      "id": "cd184261-b823-4213-acd7-64d63603111a",
      "name": "OpenAI gpt-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "OVkgmjGLp9X6J0ez",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J9TSG6Ls92Mib7Kqk-o5EMaYO3xm2jzAJ3KuyoULvUw",
          "mode": "list",
          "cachedResultName": "N8N to Zapier to Buffer to Tiktok",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J9TSG6Ls92Mib7Kqk-o5EMaYO3xm2jzAJ3KuyoULvUw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J9TSG6Ls92Mib7Kqk-o5EMaYO3xm2jzAJ3KuyoULvUw/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Parse Social Captions').item.json.tiktok.caption }}",
            "Video URL": "={{ $json['Finished Video'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Video URL",
              "displayName": "Video URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        1936
      ],
      "id": "ba261049-2207-4d6a-b250-3a9404646e62",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CYeQjgD4TDRRJXiy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "86580e04-9301-4358-946d-c17c84b57dcb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dae5b324-40db-4d7f-b6b9-1974c041144b",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "generating"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f4c56de1-b901-4228-8710-cfed42dedf26",
                    "leftValue": "={{ $json.data.successFlag }}",
                    "rightValue": 2,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        752
      ],
      "id": "0d926029-fff2-425f-9679-da5d45d3818e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6e693c25-d962-4851-bc40-6efba1e999b6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0a4b3182-8da4-4fff-b05d-fa12cb905b9a",
                    "leftValue": "={{ $json.data.state }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        880,
        128
      ],
      "id": "601e5458-3d20-418a-8655-0a97a25d21cd",
      "name": "Switch2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Status == \"Finished\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Veo Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo Image Prompt": {
      "main": [
        [
          {
            "node": "Nano Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Nano Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo Video Prompt": {
      "main": [
        [
          {
            "node": "Veo Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Veo Video": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Veo Video": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nano Image": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Nano Image": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Approved?": {
      "main": [
        [
          {
            "node": "Update - Image Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update - Image Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Image for Approval": {
      "main": [
        [
          {
            "node": "Wait for Image Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Image Approval": {
      "main": [
        [
          {
            "node": "Image Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send Video for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Video for Approval": {
      "main": [
        [
          {
            "node": "Wait for Video Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Video Approval": {
      "main": [
        [
          {
            "node": "Video Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Approved?": {
      "main": [
        [
          {
            "node": "Update - Video Approved",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update - Video Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Social Captions": {
      "main": [
        [
          {
            "node": "Parse Social Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Social Captions": {
      "main": [
        [
          {
            "node": "Get Updated Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video for YouTube": {
      "main": [
        [
          {
            "node": "Upload to YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update - Image Approved": {
      "main": [
        [
          {
            "node": "Veo Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update - Video Approved": {
      "main": [
        [
          {
            "node": "Generate Social Captions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to YouTube": {
      "main": [
        [
          {
            "node": "Set youtubeStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge - Social Done": {
      "main": [
        [
          {
            "node": "Update - Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Veo Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Media Container": {
      "main": [
        [
          {
            "node": "Wait for Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Container": {
      "main": [
        [
          {
            "node": "Publish Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Pinterest": {
      "main": [
        [
          {
            "node": "Set pinterestStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Instagram Post": {
      "main": [
        [
          {
            "node": "Get Instagram Permalink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set instagramStatus": {
      "main": [
        [
          {
            "node": "Merge - Social Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set pinterestStatus": {
      "main": [
        [
          {
            "node": "Merge - Social Done",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set youtubeStatus": {
      "main": [
        [
          {
            "node": "Merge - Social Done",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Register Pinterest Upload": {
      "main": [
        [
          {
            "node": "Download Video for Pinterest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video for Pinterest": {
      "main": [
        [
          {
            "node": "Build Pinterest Upload Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Pinterest Processing": {
      "main": [
        [
          {
            "node": "Post to Pinterest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Updated Row": {
      "main": [
        [
          {
            "node": "Pinterest Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Instagram Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "YouTube Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Pinterest Upload Body": {
      "main": [
        [
          {
            "node": "Upload to Pinterest S3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Pinterest S3": {
      "main": [
        [
          {
            "node": "Wait for Pinterest Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Instagram Permalink": {
      "main": [
        [
          {
            "node": "Set instagramStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinterest Check": {
      "main": [
        [
          {
            "node": "Register Pinterest Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Check": {
      "main": [
        [
          {
            "node": "Create Instagram Media Container",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update - Published": {
      "main": [
        [
          {
            "node": "Send publish notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Approval == \"Approved\"": {
      "main": [
        [
          {
            "node": "Generate Social Captions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Veo Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status == \"Finished\"": {
      "main": [
        [],
        [
          {
            "node": "Image Approval == \"Approved\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Check": {
      "main": [
        [
          {
            "node": "Download Video for YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Facebook permalink_url": {
      "main": [
        [
          {
            "node": "Set facebookStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set facebookStatus": {
      "main": [
        [
          {
            "node": "Merge - Social Done",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Facebook Check": {
      "main": [
        [
          {
            "node": "Publish Facebook Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Approval == \"Approved\"": {
      "main": [
        [
          {
            "node": "Video Approval == \"Approved\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Facebook Post": {
      "main": [
        [
          {
            "node": "Get Facebook permalink_url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini-3.1 Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Veo Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Veo Video Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Social Captions",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Update - Published",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "Send Image for Approval",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "versionId": "179bb5a5-329d-4b83-b05b-cc2a618c226c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6eef6d761eb91b4fb1d8896520cac178172a81b9d4296e04e5c7ac3b74df4b8"
  },
  "id": "k5h1dPJaCjRfuUMK",
  "tags": []
}